.section {
  width: 100%;
  height: 100vh;
}

.bodyMobile {
  display: none;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.containerMobile {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 400px;
  position: relative;
}

.icon {
  color: #2c2c2c;
  position: absolute;
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.bodyToast {
  position: fixed;
  top: 30px;
  right: 0px;
  width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: #a7acb1;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  gap: 5px;
  animation: fadeInUp 0.5s ease-out forwards;
  z-index: 999;
}

.containerToast {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerTitle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkIcon {
  color: #ffffff;
  font-size: 28px;
}

.title {
  color: #ffffff;
  font-size: 18px;
  margin: 0px;
}

.iconToast {
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
}

.description {
  color: #ffffff;
  font-size: 14px;
  margin: 0px;
}

/* --------------------------------------------------------------------------------------------------------------- */

.body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 50px 20px;
  gap: 20px;
}

.containerLeft {
  width: 50%;
  height: 100%;
  position: relative;
}

.heartIMG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 70%;
}

.container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.containerBankData {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container h1 {
  font-family: "AeroliteScriptCP2", cursive;
  font-size: 35px;
  font-weight: 500;
}

.desktopTitle {
  display: flex;
}

.mobileTitle {
  display: none;
}

.containerText {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container p {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.imgDesktop4 {
  width: 100px;
  height: 2px;
}

.container h2 {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.imgDesktop7 {
  height: 85px;
  width: 135px;
}

@media (max-width: 1365px) {
  .body {
    padding: 30px 10px;
  }

  .container h1 {
    font-size: 32px;
  }

  .container p {
    font-size: 14px;
  }

  .container h2 {
    font-size: 16px;
  }

  .imgDesktop7 {
    height: 70px;
    width: 120px;
  }
}

@media (max-width: 1023px) {
  .bodyMobile {
    display: flex;
  }

  .body {
    display: none;
  }

  .containerLeft {
    display: none;
  }

  .container {
    width: 100%;
  }

  .desktopTitle {
    display: none;
  }

  .mobileTitle {
    display: flex;
  }
}
